hostname {{ hostname }}
ip name-server {{ dns_server }}

enable secret {{enable_password}}
ip domain name {{domain}}
ntp server {{ntp_server}}

username {{admin_user}} privilege 15 secret {{admin_password}}

{% for interface in interfaces %}
interface {{ interface['name'] }}
  description {{ interface['description']|upper }}
  ip address {{ interface['ip'] }} {{ interface['mask'] }}
  {% if interface['enabled'] %}no {% endif %}shutdown
!
{% endfor %}

ip route 0.0.0.0 0.0.0.0 {{ gateway }}
