enable secret {{enable_password}}
hostname {{inventory_hostname}}
ip domain name {{domain}}
aaa new-model
username {{second_user}} secret {{second_password}}
line vty 0 15
logging synchronous
transport input telnet ssh
privilege level 15
ntp server {{ntp_server}}

!Setup a basic Interface
interface {{interface}}
ip address {{ipaddress}} {{netmask}}
no shut
exit

!Default Gateway
ip route 0.0.0.0 0.0.0.0 {{gateway}}